<ion-header>
  <ion-toolbar>
    <ion-title>Catalogo</ion-title>
    <ion-back-button defaultHref="perfil">perfil</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-button color="danger" expand="block">Anterior</ion-button><ion-button expand="block">Siguiente</ion-button>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://dummyjson.com/auth/products"/>
        </ion-avatar>
        <ion-label></ion-label>
      </ion-item>
    </ion-row>
  </ion-grid>

</ion-content>
