<ion-header>
  <ion-toolbar>
    <ion-title>iniciarSesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Open_Source_Initiative_keyhole.svg/1200px-Open_Source_Initiative_keyhole.svg.png">
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input type="text" placeholder="Ingrese su nombre de Usuario "></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingrese su Contraseña "></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Recordar Usuario</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="irAPerfil" expand="block">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
