<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
    <ion-back-button defaultHref="iniciar">Salir</ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <img src="https://dummyjson.com/auth/login" />
        <ion-card-header>
          <ion-card-title>JEANNE HALVORSON</ion-card-title>
          <ion-card-subtitle>KMINCHELLE</ion-card-subtitle>
        </ion-card-header>
        <ion-card-header>
          <ion-card-title>Contacto:</ion-card-title>
          <ion-card-subtitle>kminchelle@qq.com</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-button href="../pagina-principal/pagina-principal.page.html" fill="outline">Ir a catalogo</ion-button>
    </ion-row>
  </ion-grid>

</ion-content>
